<% title title %>
<% meta_tag :description, t('pages.about.subtitle') %>
<% meta_tag :url, about_url %>

<!-- Hero Desktop -->
<div id="welcome-page" class="uk-height-viewport uk-flex uk-flex-center uk-inline uk-flex-middle uk-background-cover uk-light uk-visible@m animated fadeIn" uk-parallax="bgy: -100;" data-src="<%= asset_path('hero-about-desktop.jpg') %>" uk-img>
  <div class="uk-container uk-width-1-1@m uk-text-center">
    <div class="">
      <h1> <%= title %></h1>
    </div>
  </div>
</div>

<!-- Hero Mobile -->
<div id="welcome-page" class="uk-height-viewport uk-flex uk-flex-center uk-inline uk-flex-middle uk-background-cover uk-light uk-hidden@m animated fadeIn" uk-parallax="bgy: -100;" data-src="<%= asset_path('hero-about-mobile.jpg') %>" uk-img>
  <div class="uk-container uk-width-1-1@m uk-text-center">
    <div class="">
      <h1> <%= t('pages.about.title') %></h1>
    </div>
  </div>
</div>
