<ul class="uk-breadcrumb">
  <li> <%= link_to 'Tipos de actores', admin_actor_categories_path %> </li>
  <li><span> <%= @actor_category.name%> </span></li>
</ul>

<h1>Editar Categoría de Actor</h1>

<%= render 'form', actor_category: @actor_category %>
