<p id="notice"><%= notice %></p>

<h1>Tipos de actores</h1>

<%= link_to 'Nuevo tipo de actor', new_admin_actor_category_path %>

<table class="uk-table uk-table-justify uk-table-divider uk-table-middle">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cantidad de actores</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actor_categories.each do |actor_category| %>
      <tr>
        <td><%= actor_category.name %></td>
        <td><%= actor_category.actors.count %></td>
        <td><%= link_to 'Ver', admin_actor_category_path(actor_category) %></td>
        <td><%= link_to 'Editar', edit_admin_actor_category_path(actor_category) %></td>
        <td><%= link_to 'Eliminar', admin_actor_category_url(actor_category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
