<ul class="uk-breadcrumb">
  <li> <%= link_to 'Tipo de actores', admin_actor_categories_path %> </li>
  <li><span><%= @actor_category.name %></span></li>
</ul>

<p id="notice"><%= notice %></p>

<h2> <%= @actor_category.name %> </h2>

<ul class="uk-list uk-list-divider">
  <% @actor_category.actors.each do |a| %>
    <li> <%= link_to a.name, admin_actor_path(a) %> </li>
  <% end %>
</ul>
