<% provide(:title, "Comparador de preferencias") %>

<!-- Hero Desktop -->
<div id="welcome-page" class="uk-height-viewport uk-flex uk-flex-center uk-inline uk-flex-middle uk-background-cover uk-light uk-visible@m animated fadeIn" uk-parallax="bgy: -100;" data-src="<%= asset_path('hero-topics-desktop.jpg') %>" uk-img>
  <div class="uk-container uk-width-1-1@m uk-text-center">
    <div class="">
      <h1> <%= t('topics.index.title') %></h1>
    </div>
  </div>
</div>

<!-- Posiciones de todos los actores por temática -->
<div style="padding-top: 150px;">
  <div class="uk-container pb-60">
    <div uk-alert><%= t('pages.index.actors_disclaimer') %></div>
  </div>
  <div class="uk-container mb-120">
      <div uk-grid>
        <div class="uk-width-1-1">
          <div class="uk-flex uk-flex-between" uk-grid>
          <div class="uk-inline">
            <img class="uk-float-left" data-src="<%= asset_path('polygon-red.svg') %>" alt="" uk-img>
            <h3 class="font-little-title uk-float-left" style="margin: 5px 0 0 8px;"> <%= t('topics.index.partidos') %> </h3>
          </div>
          <div class="uk-inline">
            <img class="uk-float-left" data-src="<%= asset_path('polygon-pink.svg') %>" alt="" uk-img>
            <h3 class="font-little-title uk-float-left" style="margin: 5px 0 0 8px;"> <%= t('topics.index.movimientos_sociales') %> </h3>
          </div>
          <div class="uk-inline">
            <img class="uk-float-left" data-src="<%= asset_path('polygon-blue.svg') %>" alt="" uk-img>
            <h3 class="font-little-title uk-float-left" style="margin: 5px 0 0 8px;"> <%= t('topics.index.sociedad_civil') %> </h3>
          </div>
          </div>
        </div>
      </div>
    </div>
  <div class="uk-container">
    <% @topics.each_with_index do |topic, index| %>
      <div style="margin-bottom: 65px;" uk-grid>
        <div class="uk-width-1-6@m uk-text-center icon-topics icon-topics-compare">
          <% if topic.icon.attached? %>
            <img src="<%= url_for(topic.icon) %>" width="40" height="40" uk-svg>
          <% end %>
          <h3 class="font-small-title" style="margin-top: 10px;"><%= topic.name %></h3>
        </div>
        <div class="uk-width-5-6@m">
          <ul uk-accordion>
            <% topic.questions.each do |question| %>
              <li class="title-question <%= index == 0 ? 'uk-open' : '' %>">
                <a class="uk-accordion-title font-question" href="#"> <%= question.title %> </a>
                <div class="uk-accordion-content uk-padding-small">
                  <div class="uk-child-width-1-2@s uk-child-width-1-<%=question.positions.count%>@m uk-text-center" uk-grid>
                    <% question.positions.order(:scale).each do |position| %>
                      <div class="uk-flex uk-flex-center uk-flex-bottom">
                        <p class="font-compressed"> <%= position.title %> </p>
                      </div>
                    <% end %>
                  </div>
                  <div class="uk-child-width-1-2@s uk-child-width-1-<%=question.positions.count%>@m uk-text-center" uk-grid>
                    <% question.positions.order(:scale).each_with_index do |position, index| %>
                      <div>
                        <% if index == 0 %>
                          <!-- Si es la primera posición: -->
                          <div class="line-container line-container-left"></div>
                        <% elsif index == (question.positions.count - 1)  %>
                          <!-- Si es la última posición: -->
                          <div class="line-container line-container-right"> </div>
                        <% else %>
                          <!-- Si es una posición del medio: -->
                          <div class="line-container"></div>
                        <% end %>
                        <img class="icon-topics-pin-desktop" data-src="<%= asset_path('icon-topics-pin-desktop.svg') %>" alt="" uk-img>
                      </div>
                    <% end %>
                  </div>
                  <div class="uk-child-width-1-2@s uk-child-width-1-<%=question.positions.count%>@m uk-text-center" uk-grid>
                    <% question.positions.order(:scale).each do |position| %>
                      <div class="">

                        <% position.actor_position_order_by_actor_category.each do |actor_position| %>
                          <!-- This is an anchor toggling the modal -->
                          <% if !actor_position.description.nil? && !actor_position.description.empty? %>
                            <a class="class-<%=actor_position.actor.actor_category.name.parameterize%>" href="#modal-<%= actor_position.id %>" uk-tooltip="Este actor complementó su respuesta" uk-toggle><%= actor_position.actor.name %> <img class="icon-topics-info" data-src="<%= asset_path('icon-topics-info.svg') %>" alt="" uk-img></a>
                            <!-- This is the modal -->
                            <div id="modal-<%= actor_position.id %>" uk-modal>
                              <div class="uk-modal-dialog uk-modal-body uk-text-center">
                                <button class="uk-modal-close-default" type="button" uk-close></button>
                                <div class="uk-text-center icon-topics-modal">
                                  <% if topic.icon.attached? %>
                                    <img src="<%= url_for(topic.icon) %>" width="40" height="40" uk-svg>
                                  <% end %>
                                  <p class="font-700 font-little-title" style="margin-top: 9px;"><%= topic.name %></p>
                                </div>
                                <h2 class="font-700 font-question" style="margin: 0 0 50px;"><%= question.title %></h2>
                                <h3 class="class-<%=actor_position.actor.actor_category.name.parameterize%>"><%= actor_position.actor.name %></h3>
                                <p class="font-compressed uk-text-bold" style="margin-top: 4px;"><%= actor_position.position.title %></p>
                                <p class="font-compressed"><%= actor_position.description %></p>
                              </div>
                            </div>
                          <% else %>
                            <a class="class-<%=actor_position.actor.actor_category.name.parameterize%>"><%= actor_position.actor.name %></a>
                          <% end %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="uk-container uk-container-large uk-text-center uk-align-left pb-60">
  <a class="uk-padding-remove-bottom" href="" uk-totop></a>
</div>
