<% provide(:title, "Comparador de preferencias") %>

<!-- Hero Mobile -->
<div id="welcome-page" class="uk-height-viewport uk-flex uk-flex-center uk-inline uk-flex-middle uk-background-cover uk-light uk-hidden@m animated fadeIn" uk-parallax="bgy: -100;" data-src="<%= asset_path('hero-topics-mobile.jpg') %>" uk-img>
  <div class="uk-container uk-width-1-1@m uk-text-center">
    <div class="">
      <h1> <%= t('topics.index.title') %></h1>
    </div>
  </div>
</div>


<div class="uk-section">
  <div class="uk-container pb-60">
    <div uk-alert><%= t('pages.index.actors_disclaimer') %></div>
  </div>
  <!-- Leyenda -->
  <div class="uk-container">
    <div uk-grid>
      <div class="uk-width-1-1">
        <div class="uk-flex uk-flex-center" uk-grid>
        <div class="uk-width-1-3@m uk-inline" style="margin-top: -10px;">
          <img class="uk-float-left" data-src="<%= asset_path('polygon-red.svg') %>" alt="" uk-img>
          <h3 class="font-very-little-title uk-float-left" style="margin: 5px 0 0 8px;"> <%= t('topics.index.partidos') %> </h3>
        </div>
        <div class="uk-width-1-3@m uk-inline" style="margin-top: 10px;">
          <img class="uk-float-left" data-src="<%= asset_path('polygon-pink.svg') %>" alt="" uk-img>
          <h3 class="font-very-little-title uk-float-left" style="margin: 5px 0 0 8px;"> <%= t('topics.index.movimientos_sociales') %> </h3>
        </div>
        <div class="uk-width-1-3@m uk-inline" style="margin-top: 10px;">
          <img class="uk-float-left" data-src="<%= asset_path('polygon-blue.svg') %>" alt="" uk-img>
          <h3 class="font-very-little-title uk-float-left" style="margin: 5px 0 0 8px;"> <%= t('topics.index.sociedad_civil') %> </h3>
        </div>
        </div>
      </div>
    </div>
  </div>


  <div class="uk-container">
    <% @topics.each_with_index do |topic, index| %>
    <div class="icon-topics icon-topics-compare uk-text-center">
      <% if topic.icon.attached? %>
        <img src="<%= url_for(topic.icon) %>" width="40" height="40" uk-svg>
      <% end %>
      <h3 class="font-small-title uk-text-center" style="margin-top: 10px;"><%= topic.name %></h3>
    </div>
        <ul uk-accordion>
          <% topic.questions.each do |question| %>
            <li class="<%= index == 0 ? 'uk-open' : '' %>">
              <a class="uk-accordion-title font-question" href="#"> <%= question.title %> </a>
              <div class="uk-accordion-content uk-padding-small">
                <div uk-grid>
                  <% question.positions.order(:scale).each_with_index do |position, index| %>
                    <div class="uk-width-1-6 uk-text-center">
                      <img class="icon-topics-pin-mobile" data-src="<%= asset_path('icon-topics-pin-mobile.svg') %>" alt="" uk-img>
                      <% if index == 0 %>
                        <!-- Si es la primera posición: -->
                        <hr class="uk-divider-vertical line-container-vertical-up">
                      <% elsif index == (question.positions.count - 1)  %>
                        <!-- Si es la última posición: -->
                        <hr class="uk-divider-vertical line-container-vertical-bottom">
                      <% else %>
                        <!-- Si es una posición del medio: -->
                        <hr class="uk-divider-vertical line-container-vertical">
                      <% end %>
                    </div>
                    <div class="uk-width-5-6">
                      <p class="font-compressed"> <%= position.title %> </p>
                      <div class="">
                        <% position.actor_positions.each do |actor_position| %>
                        <% if !actor_position.description.nil? && !actor_position.description.empty? %>
                            <!-- This is an anchor toggling the modal -->
                            <a class="uk-text-center class-<%=actor_position.actor.actor_category.name.parameterize%>" href="#modal-<%= actor_position.id %>" uk-toggle><%= actor_position.actor.name %> <img class="icon-topics-info" data-src="<%= asset_path('icon-topics-info.svg') %>" alt="" uk-img></a>
                            <!-- This is the modal -->
                            <div id="modal-<%= actor_position.id %>" uk-modal>
                              <div class="uk-modal-dialog uk-modal-body uk-text-center">
                                <button class="uk-modal-close-default" type="button" uk-close></button>
                                <div class="uk-text-center icon-topics-modal">
                                  <% if topic.icon.attached? %>
                                    <img src="<%= url_for(topic.icon) %>" width="40" height="40" uk-svg>
                                  <% end %>
                                  <p class="font-700 font-little-title" style="margin-top: 9px;"><%= topic.name %></p>
                                </div>
                                <h2 class="font-700 font-question" style="margin: 0 0 50px;"><%= question.title %></h2>
                                <h3 class="class-<%=actor_position.actor.actor_category.name.parameterize%>"><%= actor_position.actor.name %></h3>
                                <p class="font-compressed uk-text-bold" style="margin-top: 4px;"><%= actor_position.position.title %></p>
                                <p class="font-compressed"><%= actor_position.description %></p>
                              </div>
                            </div>
                          <% else %>
                            <a class="uk-text-center class-<%=actor_position.actor.actor_category.name.parameterize%>" ><%= actor_position.actor.name %> </a>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
    <% end %>
  </div>
</div>


<div class="uk-container uk-container-large uk-text-center pb-60">
  <a class="uk-padding-remove-bottom" href="" uk-totop></a>
</div>
