<ul class="uk-breadcrumb">
  <li> <%= link_to 'Categorías', admin_topics_path %> </li>
  <li><span><%= @topic.name %></span></li>
</ul>

<h1>Editar Categoría</h1>

<div class="uk-container">
  <%= render 'form', topic: @topic %>
</div>
