<p id="notice"><%= notice %></p>

<h1>Categorías</h1>

<%= link_to 'Nueva categoría', new_admin_topic_path %>

<table class="uk-table uk-table-justify uk-table-divider uk-table-middle">
  <thead>
    <tr>
      <th> Icono</th>
      <th> Nombre </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td>
          <% if topic.icon.attached? %>
            <img src="<%= url_for(topic.icon) %>" width="40" height="40" uk-svg>
          <% end %>
        </td>
        <td><%= topic.name %></td>
        <td><%= link_to 'Ver', admin_topic_path(topic) %></td>
        <td><%= link_to 'Editar', edit_admin_topic_path(topic) %></td>
        <td><%= link_to 'Eliminar', admin_topic_url(topic), method: :delete, data: { confirm: '¿Estas segura?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
