<p id="notice"><%= notice %></p>

<ul class="uk-breadcrumb">
  <li> <%= link_to 'Temas', admin_topics_path %> </li>
  <li><span><%= @topic.name %></span></li>
</ul>

<h2> <%= @topic.name %> </h2>

<p> Icono: </p>
<% if @topic.icon.attached? %>
  <img src="<%= url_for(@topic.icon) %>" width="40" height="40" uk-svg>
<% end %>


<%= link_to 'Edit', edit_admin_topic_path(@topic) %> |
<%= link_to 'Back', admin_topics_path %>
