<footer>
  <!--Desktop-->
    <div class="uk-container uk-visible@m">
      <div class="uk-flex uk-flex-center" uk-grid>
        <div class="uk-width-1-1 uk-width-2-3@m">
          <div class="uk-flex uk-flex-center uk-flex-middle uk-text-center" uk-grid>
            <div>
              <p>Un proyecto de</p>
            </div>
            <div>
              <a href="https://ciudadaniai.org/" target="_blank">
                <img class="logo-footer-60 logo-footer" data-src="<%= asset_path('logo-fci-white.svg') %>" alt="Logo Ciudadanía Inteligente" uk-img>
              </a>
            </div>
            <div>
              <a href="https://www.fes-chile.org/" target="_blank">
                <img class="logo-footer-60 logo-footer" data-src="<%= asset_path('logo-fes-white.svg') %>" alt="Logo FES" uk-img>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end desktop-->
    <!--Mobile-->
    <div class="uk-container uk-hidden@m">
        <div class="uk-flex uk-flex-center" uk-grid>
          <div class="uk-width-1-1 uk-width-1-1">
            <div class="uk-flex uk-flex-center uk-flex-middle uk-text-center" uk-grid>
              <div class="uk-width-1-3">
                <p>Un proyecto de</p>
              </div>
              <div class="uk-width-1-3">
                <a href="https://ciudadaniai.org/" target="_blank">
                  <img data-src="<%= asset_path('logo-fci-white.svg') %>" alt="Logo Ciudadanía Inteligente" uk-img>
                </a>
              </div>
              <div class="uk-width-1-3">
                <a href="https://www.fes-chile.org/" target="_blank">
                  <img class="logo-footer-60" data-src="<%= asset_path('logo-fes-white.svg') %>" alt="Logo FES" uk-img>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end mobile-->
</footer>
