<div class='nested-fields'>

  <div class="uk-margin">
    <%= f.label :position, class: 'uk-form-label uk-margin-remove' %>
    <%= f.association :position, label: false, wrapper_html: {class: 'uk-form-controls'}, item_wrapper_tag: 'div', input_html: {class: "uk-select" } %>
  </div>

  <div class="uk-margin">
    <%= f.label :description, class: 'uk-form-label uk-margin-remove' %>
    <div class="uk-form-controls">
      <%= f.input_field :description, class: 'uk-input' %>
    </div>
  </div>

  <div class="uk-margin">
    <div class="uk-form-controls">
      <%= link_to_remove_association "Eliminar posición", f %>
    </div>
  </div>

</div>
