<p id="notice"><%= notice %></p>

<h1>Actores</h1>

<% if current_user && current_user.has_role?(:admin) %>
  <%= link_to 'Nuevo Actor', new_admin_actor_path %>
<% end %>

<table class="uk-table uk-table-justify uk-table-divider uk-table-middle">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Categoría</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actors.each do |actor| %>
      <tr>
        <td><%= actor.name %></td>
        <td><%= actor.actor_category.name %></td>

        <% if current_user && current_user.has_role?(:admin) %>
          <td><%= link_to 'Ver', admin_actor_path(actor) %></td>
          <td><%= link_to 'Editar', edit_admin_actor_path(actor) %></td>
          <td><%= link_to 'Eliminar', admin_actor_url(actor), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
