<% title t('pages.about.title') %>
<% meta_tag :description, t('pages.about.subtitle') %>
<% meta_tag :url, about_url %>

<!-- Hero Desktop -->
<div id="welcome-page" class="uk-height-viewport uk-flex uk-flex-center uk-inline uk-flex-middle uk-background-cover uk-light uk-visible@m animated fadeIn" uk-parallax="bgy: -100;" data-src="<%= asset_path('hero-about-desktop.jpg') %>" uk-img>
  <div class="uk-container uk-width-1-1@m uk-text-center">
    <div class="">
      <h1> <%= t('pages.about.title') %></h1>
    </div>
  </div>
</div>

<!-- Hero Mobile -->
<div id="welcome-page" class="uk-height-viewport uk-flex uk-flex-center uk-inline uk-flex-middle uk-background-cover uk-light uk-hidden@m animated fadeIn" uk-parallax="bgy: -100;" data-src="<%= asset_path('hero-about-mobile.jpg') %>" uk-img>
  <div class="uk-container uk-width-1-1@m uk-text-center">
    <div class="">
      <h1> <%= t('pages.about.title') %></h1>
    </div>
  </div>
</div>

<!-- Orgs-->
<div class="uk-visible@m uk-section animated fadeIn">
  <div class="uk-container uk-width-3-4@m" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-flex uk-flex-center" uk-grid>
      <div class="uk-width-1-2@m">
        <img class="uk-align-center" data-src="<%= asset_path('logo-fci-color.svg') %>" alt="Logo Ciudadanía Inteligente" uk-img>
        <p> <%= t('pages.about.ciudadaniai_about') %> </p>
      </div>
      <div class="uk-width-1-2@m">
        <img class="uk-align-center" data-src="<%= asset_path('logo-fes-color.svg') %>" alt="Logo FES" uk-img>
        <p> <%= t('pages.about.fes_about') %> </p>
      </div>
    </div>
  </div>
</div>

<div class="uk-hidden@m uk-section animated fadeIn">
  <div class="uk-container uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-flex uk-flex-center" uk-grid>
      <div class="uk-width-1-1">
        <img class="uk-align-center" data-src="<%= asset_path('logo-fci-color.svg') %>" alt="Logo Ciudadanía Inteligente" uk-img>
        <p> <%= t('pages.about.ciudadaniai_about') %> </p>
      </div>
      <div class="uk-width-1-1 pt-60-mobile">
        <img class="uk-align-center" data-src="<%= asset_path('logo-fes-color.svg') %>" alt="Logo FES" uk-img>
        <p> <%= t('pages.about.fes_about') %> </p>
      </div>
    </div>
  </div>
</div>
