@charset "utf-8";

// Define defaults for each variable.
$base-font-family: 'Mulish', sans-serif !default;
$title-font-family: 'Space Mono', monospace !default;
$base-font-size:   0.9rem !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.9 !default;

$spacing-unit:     30px !default;


// Gradients
$gradient: linear-gradient(84.7deg, #FC0F49 1.3%, #C71FC6 25.46%, #5430FB 50.13%, #1DA7E6 73.78%, #00D174 100%);

// Basic colors
$purple:        #6200EA;
$pink:          #B713D8;
$red:           #E8013E;
$blue:          #0074DF;

// Dark colors
$purple-dark:        #41009C;
$pink-dark:          #73008A;
$red-dark:           #AA002D;
$blue-dark:          #00519C;

// Blacks and greys

$black:         #263238;
$black-soft:    #4A4E60;
$grey:          #C5D0DE;
$grey-soft:     #F4F9FE;

$text-color:           $black !default;
$background-color:     white !default;

body{
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/**
 * Headings
 */
h1, h2{
 font-family: $base-font-family;
 font-weight: 800;
}

h3, h4, h5, h6{
  font-family: $base-font-family;
  font-weight: 700;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}


/**
 * Links
 */
a {
  color: $purple;
  text-decoration: none;
  font-weight: 700;
  &:hover, &:focus{
    color: $purple;
    text-decoration: underline;
  }
}

/**
 * Basics
 */
 .font-very-little-title{
   font-family: $title-font-family !important;
   font-size: 0.65rem !important;
   text-transform: uppercase !important;
   letter-spacing: 1px !important;
   line-height: 1.3;
 }

.font-little-title{
  font-family: $title-font-family !important;
  font-size: 0.8rem !important;
  text-transform: uppercase !important;
  letter-spacing: 1px !important;
  line-height: 1.3;
}

.font-small-title{
  font-family: $title-font-family !important;
  font-size: 0.9rem !important;
  text-transform: uppercase !important;
  letter-spacing: 1px !important;
  line-height: 1.3;
}

.font-700{
  font-weight: 700 !important;
}

.font-base{
  font-family: $base-font-family !important;
}

/**
 * Hero
 */
.icon-hero>svg{
  width: 4%;
  &:hover, &:focus{
    path{
      fill: $grey-soft;
    }
  }
}

/**
 * Sections
 */
.uk-section{
  padding-top: 150px;
  padding-bottom: 150px;
}

.pt-30{
  padding-top: 30px;
}

.pt-60{
  padding-top: 60px;
}

.pt-90{
  padding-top: 90px;
}

.pb-60{
  padding-bottom: 60px;
}

.mb-120{
  margin-bottom: 120px;
}

.section-color-grey-soft{
  background-color: $grey-soft;
}

.section-color-purple{
   background-color: $purple;
   h1, h2, h3, h4, h5, p{
     color: white !important;
   }
}

.section-color-pink{
   background-color: $pink;
   h1, h2, h3, h4, h5, p{
     color: white !important;
   }
}

.section-color-gradient{
   background: $gradient;
   h1, h2, h3, h4, h5, p{
     color: white !important;
   }
}

#welcome-page {
 padding: 80px 0 0;
 &.uk-height-viewport{
   min-height: 55vh;
 }
}

.uk-alert {
    background: $purple;
    color: white;
    line-height: 1.5;
    border-radius: 4px;
    text-align: center;
}


/**
 * Navbar
 */
header.uk-sticky {
    background: transparent;
    margin-bottom: -170px;
    z-index: 200;
}

.nav-width {
    padding: 33px 30px 0;
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle{
  min-height: 50px;
  &:hover, &:focus{
    color: white !important;
    text-decoration: underline;
  }
}

.uk-navbar-nav{
  .uk-button-default, a.uk-button-default{
    color: $purple;
    border: 2px solid white;
    background-color: white;
    font-family: $title-font-family;
    text-transform: none;
    margin-left: 12px;
    &:hover, &:focus{
      color: white;
      background: transparent;
      text-decoration: none;
    }
  }
}

.uk-navbar-nav > li > a:active {
    color: white;
}

.uk-navbar-nav > li.uk-active > a {
    color: white;
}

.uk-navbar-nav > li.uk-active > a.font-little-title.uk-button.uk-button-default {
    color: $purple;
}

.uk-navbar-container>.uk-container .uk-navbar-left {
  margin-left: 0;
}

.uk-navbar-container>.uk-container .uk-navbar-right{
  margin-top: -30px;
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle, li.uk-active>a{
  color: $black-soft;
  font-family: $base-font-family;
  color: white;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: $grey-soft;
  a{
    color: $black-soft;
  }
  .uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle{
    &:hover, &:focus{
      color: $black-soft !important;
    }
  }
  .uk-navbar-nav > li.uk-active > a {
    color: $black-soft !important;
  }
  .uk-navbar-nav > li.uk-active > a.font-little-title.uk-button.uk-button-default {
      color: white !important;
  }
  .uk-button-default, a.uk-button-default{
    color: $grey-soft !important;
    background-color: $black-soft;
    border: 2px solid $black-soft;
    font-family: $title-font-family;
    text-transform: none;
    &:hover, &:focus{
      color: $grey-soft !important;
      background-color: transparent;
    }
  }
  svg>path{
    fill: $black-soft;
  }
}

.uk-dropdown>ul>li {
    padding-top: 12px;
}


/**
 * Buttons
 */
.uk-button{
   font-family: $title-font-family;
   text-transform: none;
   font-weight: 700;
   background: transparent;
   line-height: 38px;
}

.button-color-purple, a.button-color-purple{
   color: $purple;
   border: 2px solid $purple;
   &:hover, &:focus{
     color: white;
     background: $purple;
   }
}

.button-white-purple, a.button-white-purple{
 color: white;
 border: 2px solid white;
 &:hover, &:focus{
   color: $purple;
   background: white;
 }
}

.button-white-pink, a.button-white-pink{
 color: white;
 border: 2px solid white;
 &:hover, &:focus{
   color: $pink;
   background: white;
 }
}

.button-small{
  text-transform: none;
  font-weight: 700;
  line-height: 38px;
  font-family: $base-font-family;
  color: white;
  padding: 7px;
  font-size: 0.8em;
  &:hover, &:focus{
    color: white;
    text-decoration: none;
  }
}

.button-medium{
  text-transform: none;
  font-weight: 700;
  line-height: 38px;
  font-family: $base-font-family;
  color: white;
  padding: 12px;
  font-size: 0.8em;
  &:hover, &:focus{
    color: white;
    text-decoration: none;
  }
}

/**
 * Forms
 */
 .uk-radio, .uk-checkbox {
   background: white !important;
   border-color: $black-soft !important;
   border-radius: 2px !important;
   margin-right: 8px !important;
}

.uk-radio:checked, .uk-checkbox:checked, .uk-checkbox:indeterminate {
    background: $black-soft !important;
    border-color: $black-soft !important;
    border-radius: 2px !important;
    margin-right: 8px !important;
}

/**
* Methodology
*/
.icon-methodology > svg > path {
  fill: $purple !important;
}

.icon-methodology > svg {
    width: 50%;
    margin: 20px 0 0;
}


/**
* Test
*/
.tab-active{
  svg>path{
    fill: $black-soft;
  }
  svg {
    width: 36px;
  }
  border-bottom: 5px solid $purple;
  padding: 16px;
}

.tab-inactive{
  svg>path{
    fill: $grey;
  }
  svg {
    width: 36px;
  }
  border-bottom: 5px solid $grey;
  padding: 16px;
}

select#topic_id {
    background-color: $grey-soft;
    padding: 15px;
    color: $black !important;
    font-family: $base-font-family;
    border: none;
    font-size: 0.85em;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    appearance: none;
}

.topic_id::before{
  content: url(../assets/images/polygon-select.svg);
  position: relative;
  top: 81px;
  float: right;
  margin-right: 14px;
}

.icon-topics-answer{
  position: relative;
  top: -13px;
}

.icon-topics-preference{
  position: relative;
  top: -7px;
}

.uk-card-header {
    background-color: $black;
    padding: 22px 30px;
}

.uk-card-title{
    background-color: $black;
    color: white !important;}

label{
  margin: -24px;
  color: $black;
}

.uk-checkbox.form-circle {
    border-radius: 100px !important;
}

.your-position {
    background: $purple;
    font-size: 0.7em;
    font-family: $base-font-family;
    line-height: 1.3;
    padding: 6px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    margin: 2px;
    width: 88%;
    border-radius: 0;
    font-weight: 700;
}

.icon-test-rrss{
  width: 15px;
  position: relative;
  top: -1px;
}

.button-whatsapp{
  background-color: #25D366;
}

.button-twitter{
  background-color: #00acee;
}

.button-facebook{
  background-color: #3b5998;
}

/**
* Topics
*/
.icon-topics > svg > path {
  fill: white !important;
}

.icon-topics > svg {
  background: $purple;
  padding: 10px;
  width: 50%;
  border-radius: 100px;
}

.icon-topics-compare{
  position: relative;
  top: 23px;
}

.title-question::before{
  content: url(../assets/images/polygon-title-desktop.svg);
  position: relative;
  top: 53px;
  left: -16px;
}

.font-question{
  font-size: 1rem;
  font-weight: 400;
  font-family: $base-font-family;
}

.line-container {
  display: flex;
  position: relative;
  margin: 0 auto;
  width: 140%;
  background: $black;
  height: 2px;
  display: flex;
  margin-top: -3px;
  margin-bottom: -45px;
}

.line-container-right{
  width: 50%;
  margin-right: 50%;
}

.line-container-left{
  width: 90%;
  margin-left: 50%;
}

.icon-topics-pin-desktop {
  position: relative;
  top: 33px;
}

.uk-divider-vertical {
  height: 170%;
  border-left: 2px solid $black;
  position: relative;
  top: -33px;
}

.line-container-vertical-bottom{
  width: 1px;
  height: 136%;
  border-left: 2px solid white;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.line-container-vertical{
  width: 1px;
  height: 136%;
  border-left: 2px solid $black;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: -50px;
}

.icon-topics-pin-mobile {
  position: relative;
  top: -3px;
  left: 5px;
  z-index: 100;
}

.uk-accordion-title {
     background-color: $black;
     color: white;
     padding: 20px;
     &:hover, &:focus, &:active {
       color: white;
       background-color: $black;
     }
 }

 .uk-accordion-title::before {
     content: url(../assets/images/polygon-plus.svg);
     width: 1.4em;
     height: 1.4em;
     margin-left: 10px;
     float: right;
     background-image: none;
 }

 .uk-open > .uk-accordion-title::before {
     content: url(../assets/images/polygon-minus.svg);
     background-image: none;
}

.uk-accordion-content {
   box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.07);
   padding-bottom: 35px;
   padding-right: 20px;
}

.font-compressed {
    line-height: 1.4 !important;
}

.uk-tooltip{
  background: $black-soft;
  text-align: center;
  line-height: 1.1;
  padding: 10px 0;
}

a.class-partidos-politicos {
    background: $red;
    font-size: 0.7em;
    font-family: $base-font-family;
    line-height: 1.3;
    padding: 6px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    margin: 2px;
    width: 88%;
    &:hover, &:focus{
      text-decoration: none;
      background-color: $red-dark;
    }
}

a.class-movimientos-sociales {
    background: $pink;
    font-size: 0.7em;
    font-family: $base-font-family;
    line-height: 1.3;
    padding: 6px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    margin: 2px;
    width: 88%;
    &:hover, &:focus{
      text-decoration: none;
      background-color: $pink-dark;
    }
}

a.class-organizaciones-de-la-sociedad-civil {
    background: $blue;
    font-size: 0.7em;
    font-family: $base-font-family;
    line-height: 1.3;
    padding: 6px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    margin: 2px;
    width: 88%;
    &:hover, &:focus{
      text-decoration: none;
      background-color: $blue-dark;
    }
}

.icon-topics-info{
  width: 15px;
}

/**
 * Modals
 */
 .icon-topics-modal > svg > path {
   fill: white !important;
 }

 .icon-topics-modal > svg {
   background: $purple;
   padding: 10px;
   width: 15%;
   border-radius: 100px;
 }

 .icon-topics-modal{
   position: relative;
   top: -7px;
 }

h3.class-partidos-politicos {
    background: $red;
    font-size: 0.85em;
    font-family: $base-font-family;
    line-height: 1.3;
    padding: 6px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    margin: 2px;
    &:hover, &:focus{
      text-decoration: none;
      background-color: $red-dark;
    }
}

h3.class-movimientos-sociales {
    background: $pink;
    font-size: 0.85em;
    font-family: $base-font-family;
    line-height: 1.3;
    padding: 6px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    margin: 2px;
    &:hover, &:focus{
      text-decoration: none;
      background-color: $pink-dark;
    }
}

h3.class-organizaciones-de-la-sociedad-civil {
    background: $blue;
    font-size: 0.85em;
    font-family: $base-font-family;
    line-height: 1.3;
    padding: 6px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    margin: 2px;
    &:hover, &:focus{
      text-decoration: none;
      background-color: $blue-dark;
    }
}

.uk-modal-body {
    padding: 50px 30px;
}

.uk-close {
    color: $purple;
}

/**
 * Footer
 */
footer {
  background: $black;
  color: white;
  font-size: 0.6rem;
  padding: 50px 0 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.logo-footer > svg > path{
  &:hover, &:focus{
      fill: $grey-soft !important;
  }
}

.logo-footer-60{
  width: 60%;
}

@media only screen and (max-width: 991px) {
  /**
     * Basics
     */
  h1{
  font-size: 1.6rem;
  }
  h2{
    font-size: 1.2rem;
  }
  h3{
    font-size: 1rem;
  }
  h4{
    font-size: 0.9rem;
  }
  h5{
    font-size: 0.8rem;
  }
  body{
    font-size: 0.8rem;
    line-height: 1.7;
  }
  /**
     * Navbar
     */
     .logo-navbar-mobile{
       width: 70%;
     }
    .nav-width {
        padding: 30px 30px 0;
    }

    .uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle{
      color: white;
      &:hover, &:focus{
        color: white;
      }
    }

    li.uk-active > a{
      color: $purple;
    }

    .uk-offcanvas-bar{
      background: $grey-soft;
      font-size: 0.8rem;
      overflow-y: scroll !important;
      a{
        color: $black-soft;
        &:hover, &:focus{
          color: $purple;
          text-decoration: none;
        }
      }
      hr{
        border-top-color: $black-soft;
        border-top: 2px solid $black-soft;
      }
      .uk-close{
        color: $black-soft;
        &:hover, &:focus{
          color: $purple;
        }
      }
    }

    .logo-navbar>svg{
      width: 90%;
    }

    /**
   * Hero
   */
  .icon-hero>svg{
      width: 10%;
  }

    /**
   * Sections
   */
  .uk-section{
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .pt-60-mobile{
    padding-top: 60px;
  }

  /**
 * Topics
 */
  .icon-topics > svg {
    width: 20%;
  }

  .icon-topics-compare{
    position: relative;
    top: 3px;
    margin-top: 50px;
  }

  /**
 * Modals
 */
  .icon-topics-modal > svg {
    width: 25%;
  }

  /**
 * Test
 */
  .line-container-vertical-bottom {
    border-left: 5px solid white;
  }
}
