<ul class="uk-breadcrumb">
  <li> <%= link_to 'Preguntas', admin_questions_path %> </li>
  <li><span><%= @question.title %></span></li>
</ul>

<h1>Editar Pregunta</h1>

<%= render 'form', question: @question %>
