<p id="notice"><%= notice %></p>

<ul class="uk-breadcrumb">
  <li> <%= link_to 'Preguntas', admin_questions_path %> </li>
  <li><span><%= @question.title %></span></li>
</ul>

<p class="uk-label uk-text-bold"> <%= @question.topic.name %> </p>
<h1 class="uk-margin-remove"> <%= @question.title %> </h1>

<% @question.positions.each_with_index do |position, index| %>
  <h5 class="uk-bold"><%= index %>.</h5>
  <p class="uk-margin-remove"> <%= position.title %> </p>
  <p class="uk-margin-remove"> Orden: <%= position.scale %></p>

  <% if position.image_to_share.attached? %>
    <img src="<%= url_for(position.image_to_share) %>" width="300" height="300">
  <% end %>
  <% if position.image_to_share_twitter.attached? %>
    <img src="<%= url_for(position.image_to_share_twitter) %>" width="300" height="300">
  <% end %>

<% end %>



<div class="uk-container uk-text-right uk-padding">
  <%= link_to 'Editar', edit_admin_question_path(@question), class: 'uk-button button-color-purple' %>
</div>
