<%= simple_form_for [:admin, @user], html: { class: 'uk-form-horizontal uk-margin-large'} do |f| %>

  <div class="uk-margin">
    <%= f.label :email, class: 'uk-form-label uk-margin-remove' %>
    <div class="uk-form-controls">
      <%= f.input :email, label: false, input_html: {class: 'uk-input'} %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :password, class: 'uk-form-label uk-margin-remove' %>
    <div class="uk-form-controls">
      <%= f.input :password, label: false, input_html: {class: 'uk-input'} %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :roles, class: 'uk-form-label uk-margin-remove' %>
    <%= f.association :roles, label: false, wrapper_html: {class: 'uk-form-controls'}, item_wrapper_tag: 'div', input_html: {class: "uk-select" } %>
  </div>

  <div class="uk-margin">
    <div class="uk-form-controls">
      <%= f.button :submit, class: 'uk-button button-color-purple' %>
    </div>
  </div>

<% end %>
