<p id="notice"><%= notice %></p>

<h1>Usuarios</h1>

<%= link_to 'Nueva usuaria', new_admin_user_path %>

<table class="uk-table uk-table-justify uk-table-divider uk-table-middle">
  <thead>
    <tr>
      <th>Email</th>
      <th>Admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.roles.map{ |x| x.name} %></td>
        <td><%= link_to 'Ver', admin_user_path(user) %></td>
        <td><%= link_to 'Editar', edit_admin_user_path(user) %></td>
        <td><%= link_to 'Eliminar', admin_user_url(user), method: :delete, data: { confirm: '¿Confirmas que deseas eliminar la usuaria?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
