<ul class="uk-breadcrumb">
  <li> <%= link_to 'Usuarias', admin_users_path %> </li>
  <li><span>Nueva usuaria</span></li>
</ul>

<h1> Nueva Usuaria</h1>

<div class="uk-container">
  <%= render 'form', user: @user %>
</div>
